.select-box select{
    height: 50px;
    padding: 10px 15px;
    line-height: 18px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../assets/bx_bx-down-arrow.svg);
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    box-shadow: 1px 2px 98px -49px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 1px 2px 98px -49px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 1px 2px 98px -49px rgba(0,0,0,0.75) inset;
}

select:focus, select:hover{
    outline: none;
    border: 2px solid white;
}


.option {
    padding-top: 10px;
}

/* .h-screen {
    color: #fff;
    background: linear-gradient(-45deg, #858DFA, #9EB5FF);
    background-size: 200% 200%;
    position: relative;
    animation: change 15s ease-in-out infinite;
} */

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }

}

img {
    width: 50;
    height: 50;
}

